<!-- Het weergeven van de bestaande studies van de gebruiker. -->
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_my_studies.css') }}">
    <!-- De menu welke de bestaande studies van de gebruiker weergeeft. -->
    {% if amount_of_studies > 0 %}
        <table>
            <tr>
                <th scope="col">Study name</th>
                <th scope="col">Completed cases</th>
                <th scope="col">Status</th>
            </tr>
            {% for study in studies %}
                <tr>
                    {% if study.researchmodel_id %}
                        {% if study.used_existing_model %}
                            <th scope="row"><a href="{{ url_for('create_study.edit_model', study_code=study.code) }}">
                                {{ study.name }}</a></th>
                        {% else %}
                            <th scope="row"><a href="{{ url_for('create_study.questionnaire', study_code=study.code) }}">
                                {{ study.name }}</a></th>
                        {% endif %}
                    {% else %}
                        <th scope="row"><a href="{{ url_for('create_study.choose_model', study_code=study.code) }}">
                                {{ study.name }}</a></th>
                    {% endif %}
                    {% if study.stage_1 %}
                        <td>N/A</td>
                    {% else %}
                        <td>{{ study.total_completed_cases_questionnaire() }}</td>
                    {% endif %}
                    {% if study.stage_1 %}
                        <td>Setting up the study</td>
                    {% elif study.stage_2 %}
                        <td>Sending forms and collecting data</td>
                    {% elif study.stage_3 %}
                        <td>Data-analysis</td>
                    {% else %}
                        <td>Completed</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>You have not started any studies yet. Please start one to find the study here.</p>
    {% endif %}
    <button type="button" onclick="window.location.href='{{ url_for('main.index') }}';">
            Go back to Main Menu
    </button>
{% endblock %}