<!-- De pagina waarbinnen de vragenlijst opgesteld kan worden voor het onderzoek. -->
{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_questionnaire.css') }}">
    <div class="title-box">
        <h1 class="title-header"> {{ study.name }}</h1>
    </div>
    <p>Each core variable must have between three and five questions. A scale must be set for the questionnaire (between
     four and ten).</p>
    <!-- De knop om aanpassingen te maken aan de studie. -->
    <button type="button" onclick="window.location.href='{{ url_for('create_study.edit_study', study_code=study.code) }}';">
        Edit Study
    </button>
    <h2>Scale of the questionnaire</h2>
    <p>{{ questionnaire.scale }}</p>
    <button type="button" onclick="window.location.href='{{ url_for('create_study.edit_scale', study_code=study.code) }}';">
        Edit scale
    </button>
    <!-- De tabel waarbinnen de demografieken gegeven staan. -->
    <div class="table-corevariable">
        <h1 class="table-header">Collected data participants</h1>
        <table class="table-class">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Optional</th>
            <th>Choices</th>
          </tr>
          <!-- Voor iedere demografiek in de vragenlijst de naam, soort demografiek en de optionaliteit weergeven. -->
          {% for demographic in demographics %}
            <tr>
                <td>
                    {{ demographic.name }}
                </td>
                <td>
                    {{ demographic.questiontype }}
                </td>
                <td>
                    {{ demographic.optional }}
                </td>
                {% if demographic.return_amount_of_options() > 0 %}
                    <td>
                        {% for option in demographic.return_list_of_options() %}
                            {{ option }};
                        {% endfor %}
                    </td>
                {% else %}
                    <td>None</td>
                {% endif %}
                <td>
                    <button type="button" onclick="window.location.href='{{ url_for('create_study.remove_demographic',
                    study_code=study.code, demographic_id=demographic.id) }}';">
                        Delete Demographic
                    </button>
                </td>
            </tr>
          {% endfor %}
        </table>
    </div>
    <button type="button" onclick="window.location.href='{{ url_for('create_study.new_demographic', study_code=study.code) }}';">
        Create New Demographic
    </button>
    <!-- Voor iedere vragengroep/kernvariabele de vragen weergeven, de mogelijkheid om de scores voor de vraag om te
     draaien en de mogelijkheden om vragen toe te voegen of te verwijderen.-->
    {% for questiongroup in questiongroups_questions.keys() %}
        <div class="table-corevariable">
            <h1 class="table-header"> {{ questiongroup.return_corevariable_name() }}</h1>
            <table class="table-class">
              <tr>
                <th>Question</th>
              </tr>
              {% for question in questiongroups_questions.get(questiongroup) %}
                  <tr>
                    <td> {{ question.question }}</td>
                    {% if question.reversed_score %}
                        <td>
                            <button type="button" onclick="window.location.href='{{ url_for('create_study.switch_reversed_score',
                            study_code=study.code, question_id=question.id) }}';">
                                Make score not reversed
                            </button>
                        </td>
                    {% else %}
                        <td>
                            <button type="button" onclick="window.location.href='{{ url_for('create_study.switch_reversed_score',
                            study_code=study.code, question_id=question.id) }}';">
                                Make score reversed
                            </button>
                        </td>
                    {% endif %}
                    <td>
                        <button type="button" onclick="window.location.href='{{ url_for('create_study.edit_question',
                        study_code=study.code, question_id=question.id) }}';">
                            Edit question
                        </button>
                    </td>
                    <td>
                        <button type="button" onclick="window.location.href='{{ url_for('create_study.remove_question',
                        study_code=study.code, question_id=question.id) }}';">
                            Delete question
                        </button>
                    </td>
                  </tr>
              {% endfor %}
            </table>
        </div>

        <button type="button" onclick="window.location.href='{{ url_for('create_study.new_question',
        study_code=study.code, corevariable_id=questiongroup.corevariable_id) }}';">
            Create new question for {{ questiongroup.return_corevariable_name() }}
        </button>
    {% endfor %}

    <!-- De knop om terug te gaan naar het bewerken van het onderzoeksmodel. -->
    <button type="button" onclick="window.location.href='{{ url_for('create_study.edit_model', study_code=study.code) }}';">
        Go back to the research model
    </button>

    <!-- De optie om het onderzoek te starten. -->
    <button type="button" onclick="window.location.href='{{ url_for('create_study.starting_study', study_code=study.code) }}';">
        Start the study (completion of setting up the study and start of sending out forms)
    </button>
{% endblock %}
