<!-- Het einde van de vragenlijst. -->
{% extends 'base_visitor.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_ending_questionnaire.css') }}">
    <h1>Ending questionnaire</h1>
    <p>Click the button to send in your answers.</p>
    <!-- De Form voor het voltooien van de vragenlijst. -->
    <div class="form-container">
        <div class="row">
            <div class="col-md-4">
                {{ render_form(form) }}
            </div>
        </div>
    </div>

{% endblock %}
