@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* Google fonts - Open Sans */
/* colors */
/* body */

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(241,241,241);
}

h1{
  font-size: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

h3 {
  color: black;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: rgb(200,200,200);
  display: none;
  padding: 100px 20px;
  height: 100%;
}



table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: rgb(225,225,225);}